<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for Applique Men&#039;s Wear</title>
	<atom:link href="http://dahz.daffyhazan.com/applique/menswear/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://dahz.daffyhazan.com/applique/menswear</link>
	<description>Just another My Blog site</description>
	<lastBuildDate>Fri, 10 Feb 2017 16:08:28 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>
	<item>
		<title>Comment on Double Denim Day by Sara A</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/double-denim-day/#comment-7</link>
		<dc:creator><![CDATA[Sara A]]></dc:creator>
		<pubDate>Fri, 27 Nov 2015 08:37:06 +0000</pubDate>
		<guid isPermaLink="false">http://dahz.daffyhazan.com/applique/menswear/?p=196#comment-7</guid>
		<description><![CDATA[Fashion to me has become very disposable; I wanted to get back to craft, to clothes that could last.]]></description>
		<content:encoded><![CDATA[<p>Fashion to me has become very disposable; I wanted to get back to craft, to clothes that could last.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Double Denim Day by Alvaro G</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/double-denim-day/#comment-6</link>
		<dc:creator><![CDATA[Alvaro G]]></dc:creator>
		<pubDate>Fri, 27 Nov 2015 08:35:33 +0000</pubDate>
		<guid isPermaLink="false">http://dahz.daffyhazan.com/applique/menswear/?p=196#comment-6</guid>
		<description><![CDATA[I&#039;d like to believe that the women who wear my clothes are not dressing for other people, that they&#039;re wearing what they like and what suits them. It&#039;s not a status thing.]]></description>
		<content:encoded><![CDATA[<p>I&#8217;d like to believe that the women who wear my clothes are not dressing for other people, that they&#8217;re wearing what they like and what suits them. It&#8217;s not a status thing.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Double Denim Day by Abbey K</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/double-denim-day/#comment-4</link>
		<dc:creator><![CDATA[Abbey K]]></dc:creator>
		<pubDate>Fri, 27 Nov 2015 08:32:50 +0000</pubDate>
		<guid isPermaLink="false">http://dahz.daffyhazan.com/applique/menswear/?p=196#comment-4</guid>
		<description><![CDATA[What you wear is how you present yourself to the world, especially today when human contacts go so fast. Fashion is instant language.]]></description>
		<content:encoded><![CDATA[<p>What you wear is how you present yourself to the world, especially today when human contacts go so fast. Fashion is instant language.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Double Denim Day by Nala T</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/double-denim-day/#comment-3</link>
		<dc:creator><![CDATA[Nala T]]></dc:creator>
		<pubDate>Fri, 27 Nov 2015 08:29:03 +0000</pubDate>
		<guid isPermaLink="false">http://dahz.daffyhazan.com/applique/menswear/?p=196#comment-3</guid>
		<description><![CDATA[I have my permanent muses and my muses of the moment.]]></description>
		<content:encoded><![CDATA[<p>I have my permanent muses and my muses of the moment.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Double Denim Day by Tatiana</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/double-denim-day/#comment-2</link>
		<dc:creator><![CDATA[Tatiana]]></dc:creator>
		<pubDate>Fri, 27 Nov 2015 08:27:30 +0000</pubDate>
		<guid isPermaLink="false">http://dahz.daffyhazan.com/applique/menswear/?p=196#comment-2</guid>
		<description><![CDATA[Women are more sure of themselves today. They don&#039;t have to emulate the way men dress.]]></description>
		<content:encoded><![CDATA[<p>Women are more sure of themselves today. They don&#8217;t have to emulate the way men dress.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Woo Ninja by Maria</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/product/woo-ninja-3/#comment-47</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:56:24 +0000</pubDate>
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=76#comment-47</guid>
		<description><![CDATA[He really is the cutest little man. Swoooon!]]></description>
		<content:encoded><![CDATA[<p>He really is the cutest little man. Swoooon!</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Premium Quality by Maria</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/product/premium-quality-2/#comment-46</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:55:29 +0000</pubDate>
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=73#comment-46</guid>
		<description><![CDATA[I didn&#039;t expect this poster to arrive folded. Now there are lines on the poster and one sad Ninja.]]></description>
		<content:encoded><![CDATA[<p>I didn&#8217;t expect this poster to arrive folded. Now there are lines on the poster and one sad Ninja.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Woo Logo by Maria</title>
		<link>http://dahz.daffyhazan.com/applique/menswear/product/woo-logo-2/#comment-40</link>
		<dc:creator><![CDATA[Maria]]></dc:creator>
		<pubDate>Fri, 07 Jun 2013 15:54:25 +0000</pubDate>
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=60#comment-40</guid>
		<description><![CDATA[Three letters, one word: WOO!]]></description>
		<content:encoded><![CDATA[<p>Three letters, one word: WOO!</p>
]]></content:encoded>
	</item>
</channel>
</rss>
